
.host_content{
	padding: 0px 12%;
    height: fit-content;
/*     display: flex; */
    align-items: center;
}
.host_content-wide{
/* 	width: 80%; */
/* 	margin: auto; */
    padding: 30px 5%;
}
.host_left{
    width: 40%;
    float: left;
}
.host_left div{
	margin-bottom: 20px;
}
.host_right{
	width: 40%;
	float: right;
}
.subtitle{
	display: block;
	font-size: 18px;
	color: #717171;
	font-weight: normal;
}
#hosting_form label{
	display: block;
}
#hosting_form input{
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(235 235 235 / 67%);
    margin: 5px 0px;
    outline: none;
}
.hosting_item {
    float: left;
    font-size: 13px;
}
.hosting_item_chk{
/*     width: 160px; */
	width: 100%;
    margin: 7px;
    padding: 13px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid rgb(235 235 235 / 67%);
    font-size: 14px;
    cursor: pointer;
}
.hosting_item_chk:hover{
    border: 2px solid black;
}
.hosting_item_chk.on{
    background: #f7f7f7;
    border: 2px solid black;
}
.hosting_item_chk>div{
	padding: 2px;
}
.pic_area{
	border: 1px dashed rgb(176, 176, 176);
}
.pic_main{
	width: 100%;
	height: 400px;
}
.pic_area>img{
	width: 100%;
	height: 100%;
}
.pic_small_div{        
	width: 100%;
	display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: var(--breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) );
    --breakpoint-grid_columns: 2;
}
.pic_small{
	aspect-ratio: 1 / 1;	
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic_control{
	cursor: pointer;
}
.input_col2 > div, .input_col2 > input{
    float: left;
    width: 48% !important;
}
.input_col3 div{
	float: left;
	width: 33.3%;
}
.input_col2 > div:nth-child(2), .input_col2 > input:nth-child(2){
    margin-left: 4% !important;
}
.input_col3 label{
	display: block;
}
.count_div label{
	display: block;
}
.count_ea{
/* 	background: #ff385c; */
/* 	color: white; */
	border-radius: 30px !important;
    width: 35px !important;
    height: 45px;
    text-align: center;
}
.count{
	padding: 0px !important;
    width: 35px !important;
    height: 45px;
    text-align: center;
}
.hosting_btn{
	color: white;
	background: rgba(226,15,86,0.85);
}

/* include 페이지 */

.hosting_control{
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 0px 0px 20px 0px;
}

.hosting_col1{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    padding-bottom: 30px;
}
.hosting_col1::-webkit-scrollbar{
	display: none;
}
.hosting_col1>div{    
	max-width: 630px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
/*     align-items: center; */
}
.hosting_col1_area{
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
}
.hosting_col1_wide{
	max-width: 850px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.hosting_col2{
	display: flex;
	align-items: center;
	justify-content: center;
    align-content: center;
	height: 100%;
	width: 100%;
}
.hosting_col2>div{
    flex: 0 0 600px;
}
.hosting_content{
	font-size: 18px;
}
.hosting_video video{
	width: 600px;
}
.hosting_control input {
    padding: 15px 32px;
    margin: 0 30px;
    border: none;
    background: transparent;
    font-weight: bold;
	border-radius: 10px;
}
#hosting_prev{
	float: left;
    text-decoration: underline;
    cursor: pointer;
}
#hosting_next{
	float: right;
	background: black;
	color: white;
	cursor: pointer;
}
#theme_area, #amenities_area{
	display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: var(--breakpoint-grid_auto-rows, minmax(min-content,max-content) );
    grid-gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#structure_area .hosting_item{
	flex: 0 1 calc(33% - 9px);
}
#privacy_type_area .hosting_item{
	width: 100%;
}
#floor_detail_area>span{
	width: 100%;
	display: block;
	border: 1px solid rgb(235, 235, 235);
}
.list_row{
	width: 100%;
	display: flex;
	padding: 20px 5px;
}
.list_row>label{
	flex: 1 1 auto;
}
.p_m_btn{
	display: flex;    
	width: 104px;
    align-items: center;
}
.p_m_btn>button{
	cursor: pointer;
    height: 32px;
    border-radius: 50%;
    width: 32px;
    background: transparent;
    border: 1px solid #B0B0B0;
}
.p_m_btn>div{
	padding: 0 20px;
}

/* 파일 업로드 */
.drop_box{
    border: 1px dashed rgb(176, 176, 176);
	display: flex;    
	flex-direction: column;
	align-items: center;    
/* 	width: 600px; */
/*     height: 300px; */
}
.after_sel_pic label{
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 0;
    cursor: pointer;
}
.after_sel_pic label>span{
    font-size: 17px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

/* 숙소 설명 */
.host_description{
    width: 415px;
    height: 260px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 13px;
}

/* 요금 설정 */
.price_div{
	display: flex;
    align-items: center;
}
.price_input{
	width: 80% !important;
	font-size: 48px;
	font-weight: 600;
	margin: 0 10px !important;
	text-align: center;
}
.price_div button{
	background: transparent;
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 50px;
    height: 50px;
}

/* 숙소 검토 */
.host_preview{
    display: flex;
    flex-direction: row;
}
#host_preview_left{
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 400px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
    padding: 15px;
}
#host_preview_right{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-top: 40px;
}
.preview_step_info{
	font-size: 22px;
	font-weight: 600;
	padding: 10px 0px;
}
.preview_pic{
	height: 80%;
	border-radius: 10px;
}
.preview_pic>img{
	width: 100%;
    height: 100%;
    border-radius: 10px;
}
.preview_title, .preview_price{
	height: 10%;
	font-size: 15px;
	font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* 주소 검색 */
#map_wrap{
	display: flex;
    flex-direction: row;
}
#map_search{
/* 	width: 80% !important; */
	margin: 0 !important;
}
#map_search_div{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: auto;
    width: 40%;
}
#map_search_result{
	height: 320px;
    overflow-y: auto;
    margin-left: -30px;
    width: 100%;
}
.lo_item{
	list-style: none;
    padding: 10px;
    cursor: pointer;
}
.lo_item:hover{
	background: #ccc;
}
.lo_title{
	font-size: 14px;
}
.lo_road_address{
	font-size: 13px;
}
.lo_address{
	font-size: 13px;
	color: gray;
}
.place_input{
	width:45% !important;
	border: 1px solid #ccc;
}

/* main Page */
.host_nav{
	margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
/*     flex: 1 0 auto; */
}
.nav_btn{
/*     display: flex; */
/*     align-items: center; */
	font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    padding: 10px 16px !important;
    cursor: pointer;
}
.nav_btn:hover{
	background: rgb(235 235 235 / 67%);
	border-radius: 10px;
}
.host_icon{
/* 	width: 200px; */
/* 	background: yellow; */
}
#host_nav_list{
	position: absolute;
    top: 70;
    background: white;
    border: 1px solid rgb(235 235 235 / 67%);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    width: 175px;
    padding: 10px;
    z-index: 1;
}
#host_nav_list>div {
    padding: 15px;
    cursor: pointer;
}
#host_nav_list>div:hover {
    background: #F7F7F7;
    border-radius: 10px;
}
#host_content_div{
	padding: 40px 13%;
}
#host_content_div.wideFit{
	padding: 0 !important;
}
.reservation_nav>button{
	cursor: pointer !important;
    text-align: center !important;
    border: 1px solid black !important;
    background-color: #FFFFFF !important;
    outline: none !important;
    padding: 0 !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    border-radius: 20px !important;
    min-height: 40px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    border-color: #DDDDDD !important;
    color: #222222 !important;
}
.reservation_nav>button:hover{
	color: #000000 !important;
    border-color: #000000 !important;
}
.reservation_nav>button.on{
	background-color: #F7F7F7 !important;
	border: 1px solid black !important;
}
.reservation_table{
    width: 100%;
    background: #F7F7F7;
/*     height: 200px; */
    margin: 20 0px;
    border-radius: 10px;
    text-align: center;
    line-height: 80px;
}
.reservation_table>div {
    height: min-content;
}

.gotoUserPage{
	margin-right: 15px;
    font-size: 14px;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}
.gotoUserPage:hover {
    background: rgb(235 235 235 / 67%);
}

/* 캘린더 */
.calendar {
	text-align:center;     
	width:100%;
	border-collapse: collapse;
    border: 1px solid rgb(235, 235, 235);
}
.calendar > tbody > tr > td {
	width:50px;
	height:146px;
}
.calendar_div{
    margin-right: 370px;
}
.calendar_nav{
	position: sticky;
    top: 0px;
    background: white;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.calendar_nav_flex{
	display: flex;
    align-items: center;
    padding-left: 20px;
	font-size: 26px;
	font-weight: bold;
	padding-top: 32px;
    margin-bottom: 24px;
}
.calendar_nav_flex>div:first-child{
	flex: 1 0 auto;
}
.calendar_nav_flex>div:last-child{
    margin: 0 20px;
    cursor: pointer;
}
.calendar_week{
    display: flex;
    justify-content: space-around;
}
.calendar_detail{    
    padding: 32px 20px 0px 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	float: right;
    position: sticky;
    top: 0px;
    width: 328px;;
    border-left: 1px solid rgb(235, 235, 235);
    height: 100vh;
}
#userLodgingBtn{
	cursor: pointer !important;
    text-align: center !important;
    border: 1px solid black !important;
    background-color: #FFFFFF !important;
    outline: none !important;
    padding: 0 !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    border-radius: 20px !important;
    min-height: 40px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    border-color: #DDDDDD !important;
    color: #222222 !important;
}
#userLodgingList{
	position: absolute;
    top: 74px;
    background: white;
    border: 1px solid rgb(235 235 235 / 67%);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    /* width: 175px; */
    padding: 15px;
    z-index: 1;
}
.lodging_li{
	font-size: 14px;
	font-weight: 100;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.lodging_li:hover{
	background: #d7d7d7;
}
div[role='row']{
    display: flex;
}
.calendar_cell{
    width: 14.1% !important;
    height: 136px;
    float: left;
    border: 1px solid #EBEBEB;
}
.calendar_cell.none{
	border: 1px solid transparent !important; 
}
.calendar_cell.prevDay{
    cursor: not-allowed;
    pointer-events: none;
}
.calendar_cell.prevDay>button{
    cursor: not-allowed;
    pointer-events: none;
}
.calendar_cell.prevDay div{
	color: #717171;
}
.calendar_cell.today div{
	color: #717171;
}
.calendar_cell.today{
    pointer-events: none;
	cursor: not-allowed;
	background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 8px, rgb(221, 221, 221) 8px, rgb(221, 221, 221) 9px);
}
.calendar_cell.today>button{
	cursor: not-allowed;
    pointer-events: none;
}
.calendar_cell.impossible{
	background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 8px, rgb(221, 221, 221) 8px, rgb(221, 221, 221) 9px);
}
.calendar_cell.nextDay{
	cursor: pointer;
}
.calendar_cell.nextDay>button{
	cursor: pointer;
}
.calendar_cellBtn{
	width: 100%;
	background: transparent;
	border: none;
}
.calendar_cellBtn>div{
	padding: 20px;
	text-align: left;
}
.calendar_cell.disabled_date{
	background: aliceblue;
	cursor: not-allowed;
    pointer-events: none;
}
.calendar_cell.disabled_date>button{
	color: #ccc !important;
	cursor: not-allowed;
    pointer-events: none;
}

.hosting_controll{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hosting_controll_btn{
	display: flex !important;
    cursor: pointer !important;
    color: rgb(113, 113, 113) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    height: 32px !important;
    width: 32px !important;
    contain: layout !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
    background: rgb(255, 255, 255) !important;
    margin: 0 5px;
}
.hosting_controll_btn.chk{
    border-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 0, 0) !important;
}
#detail_controll_div{
	width: 100%;
}
.detail_date{
	text-align: left;
}
.hosting_controll_input{
    appearance: none;
}

.calendar_month_label {
  position: relative;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  box-sizing: border-box;
  font-size: 50px;
  text-align: center;
  background-color: #cff09e;    
  position: sticky;
}

/* host lodging detail */
.title{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
	list-style: none;
	cursor: pointer;
}
.detail_li>a{
    line-height: 20px;
	display: block;
/*     width: 100%; */
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 600;
}
.detail_li>ol{
	display: none;
    list-style: none;
    padding: 0px;
    border-left: 1px solid #DDDDDD;
    margin: 0 0 0 16px;
}
.detail_li.open>a{
    background-color: #F7F7F7;
}
.detail_li.open>ol{
    display: block;
}
.detail_sub_li{
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: block;
    cursor: pointer;
    color: #222222;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 20px;
    border-left: 2px solid transparent;
}
.detail_sub_li.on{
	font-weight: 600;
    border-left: 2px solid #222222;
}
#lodging_detail_content{
    display: flex;
/*     justify-content: space-between; */
}
#lodgiong_update_content{
    position: relative;
/*     height: 1200px; */
    width: 80%;
}
#leftSideBar{
	width: 20%;
	position: sticky;
	height: fit-content;
	top: 80px;
}
.host_wide_content{
    margin: auto;
    padding-left: 80px !important;
    padding-right: 80px !important;
}
.lodging_name{
    margin-top: 25px;
    padding: 0px 45px;
}

/* host detail View */
.host_detail_div{
    padding: 20px;
}
.ld_up_top {
    font-size: 18px;
    font-weight: 600;
}
.up_btn_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.up_btn_div .p_m_btn{
	width: unset;
}
.ld_up_list{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.detail_up_btn{
    min-width: 68px;
    cursor: pointer;
	font-size: 16px;
    padding: 7px 13px;
	background: transparent;
	border-radius: 10px;
	border: none;
	text-decoration: underline;
}
.detail_up_btn:hover{
	background: rgb(235 235 235 / 67%);
}
.detail_val{
	font-size: 16px;
	color: gray;
}
.lodging_onoff{
/* 	padding: 10px; */
/* 	border-radius: 10px; */
    min-width: 80px;
}
.lodging_onoff>span{
/* 	text-decoration: underline; */
}
.lodging_onoff:hover{
/* 	background: rgb(235 235 235 / 67%); */
}

/* table */
.lodging_list_filter{
	display: flex;
}
.lodging_search_btn{
    border-radius: 32px !important;
    height: 32px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    flex: 1 1 0% !important;
    font-size: 14px !important;
    background-color: rgb(255, 255, 255) !important;
    line-height: 18px !important;
    border: 1px solid rgb(221, 221, 221) !important;
    cursor: pointer !important;
    padding: 0px 16px !important;
    outline: none !important;
    text-align: center !important;
}
.lodging_list_nav{
	padding-left: 24px;
    display: flex;
    align-items: center;
}
.search_option, .search_state_option{
    position: absolute;
    top: 70;
    background: white;
    border: 1px solid rgb(235 235 235 / 67%);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
    width: 175px;
    padding: 10px;
    z-index: 4;
}
.search_state_option>div{
    padding: 8px 5px;
}
.search_option .up_btn_div {
    padding: 8px 5px;
}
.search_opt_btn{
	padding: 10px 0;
	border-top: 1px solid rgb(235, 235, 235);
}
.searchApply_btn{
	background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}
.state_btn{
	cursor: pointer;
    background: transparent;
    outline: none;
    padding: 9px 12px;
    border-radius: 10px;
    border: none;
}
.state_btn>span{
	text-decoration: underline;
}
.state_btn:hover {
    background: rgb(235 235 235 / 67%);
}
.modify_input{
    border: none;
    outline: none;
    width: 100%;
}
.modify_title{
    font-weight: 100 !important;
    padding-bottom: 0px !important;
}
.modify_form{
	width: 100%;
}
.ld_up_list textarea{
    border: none;
    min-width: 95%;
    max-width: 96%;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    resize: none;
    outline: none;
    font-size: 14px;
    color: black;
}
/* modify open*/
.ld_up_list.open{
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 10px;
}
.ld_up_list.open .modify_form{
	width: 100%;
}
.ld_up_list.open .modify_title{
	display: flex !important;
    justify-content: space-between !important;
}
.ld_up_list.open .close_modify{
	cursor: pointer;
    width: 25px !important;
    height: 25px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.ld_up_list.open .close_modify:hover{
	border-radius: 30px;
    background: rgb(235 235 235 / 67%);
}
.ld_up_list.open .modify_input{
    padding: 15px;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
}
.ld_up_list.open textarea{
	border: 1px solid #ccc;
	color: black;
}
.ld_up_list.open .modify_footer, #facility_modify_footer{
	cursor: pointer;
    display: flex !important;
    justify-content: space-between !important;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.ld_up_list.open .close_modify_btn, #facility_modify_footer .close_modify_btn{
	cursor: pointer;
    background: transparent;
    padding: 10px 20px;
    border: none;
    text-decoration: underline;
    font-weight: 600;
}
.ld_up_list.open .close_modify_btn:hover, #facility_modify_footer .close_modify_btn:hover{
	border-radius: 15px;
    background: rgb(235 235 235 / 67%);
}
.ld_up_list.open .apply_modify_btn, #facility_modify_footer .apply_modify_btn{
	cursor: pointer;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
}
.ld_up_list.open .apply_modify_btn:disabled, #facility_modify_footer .apply_modify_btn:disabled{
	background: #ccc;
    border: none;
    cursor: not-allowed;
}
.ld_up_list.open .show_modify_btn{
	display: none !important;
}

#facility_modify_div{
    display: block;
    position: fixed;
    background: white;
    width: 40%;
    height: 65%;
    top: 19%;
    left: 37%;
    border-radius: 40px;
    border: 1px solid #ccc;
    overflow: auto;
    box-shadow: 5px 7px 18px 10px rgb(34 36 38 / 22%);
}

#facility_modify_list{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: var(--breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) );
    --breakpoint-grid_columns: 4;
    padding: 30px;    
    gap: 4px;
 }
 
 #facility_modify_footer{
 	background: white;
 	position: sticky;
 	bottom: 0;
 	padding: 30px;
 }
 
 #ld_basic_price{
	width: auto !important; 
    font-size: 25px !important;
    font-weight: 100 !important; 
    margin: 0 !important; 
    text-align: left;
}